#root, #App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 75vw;
}
input, select{
  max-width: 40%;
}
main {
  min-width: 200px;
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weatherInput {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
.Loading{
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}
.weatherSearchForm, form {
  display: flex;
  gap: 0.5em;
}
.weatherSummaryContainer {
  margin-top: 0.5em;
  max-width: 800px;
  width: 100%;
}
.weatherSummary {
  text-align: left;
  gap: 0.5em;
}
.cardWrapper {
  border-radius: 5px;
  border-color: gray;
  border-style: solid;
  box-shadow: 10px;
  padding: 1em;
  width: 100%;
}
.cardWrapper p {
  margin: 0;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
}
.cardHeaderTitleWrap {
  width: 70%;
}
.cardHeaderTitleWrap h2 {
  margin: 0;
  font-size: larger;
}
.cardHeader img {
  margin-top: 0;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
}

.cardFooter img {
  width: 50px;
  height: 20px;
}