#root, #App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 500px;
  width: 75vw;
}

input, select{
  max-width: 40%;
}

.weatherInput {
  display: flex;
  justify-content: center;
  margin-top: 3em;

}

.Loading{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}

.weatherSearchForm, form {
  display: flex;
  gap: 0.5em;
}

.weatherSummaryContainer {
  gap: 1em;
  margin-top: 3em;
}

.weatherSummary {
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 0.5em;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.cardHeader img{
  width: 40px;
}